@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/young-serif/YoungSerif-Regular.ttf);
  }

  @font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400, 600, 700;
    font-display: swap;
    src: url(/fonts/outfit/Outfit-VariableFont_wght.ttf);
  }
}
